# 6.5.2 Create Heatmaps for Weather Parameters

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2020-05-23 13:58:34,-46.60,168.33,49.23,81,100,6.02
1,1,Port Alfred,ZA,2020-05-23 14:02:46,-33.59,26.89,66.99,78,0,1.99
2,2,Broome,US,2020-05-23 14:02:46,42.25,-75.83,66.00,93,75,6.93
3,3,Bredasdorp,ZA,2020-05-23 14:02:46,-34.53,20.04,73.40,5,0,14.99
4,4,Atuona,PF,2020-05-23 14:02:46,-9.80,-139.03,80.28,78,49,17.16
...,...,...,...,...,...,...,...,...,...,...
569,569,Malangali,TZ,2020-05-23 14:04:24,-8.57,34.85,70.23,54,1,10.18
570,570,Malchevskaya,RU,2020-05-23 14:04:24,49.06,40.36,56.80,53,100,12.75
571,571,Gull Lake,CA,2020-05-23 14:04:24,50.10,-108.48,41.00,86,1,12.75
572,572,Torit,SS,2020-05-23 14:04:24,4.41,32.57,86.97,54,95,1.99
573,573,Sibu,MY,2020-05-23 14:04:24,2.30,111.82,84.20,89,40,1.19

Confirm the data types for the data columns are integers or floating-point decimal numbers.

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

Create a Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

Next, create the heatmap for the maximum temperature.

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Google heatmaps do not plot negative numbers. 

To remove the negative temperatures we can use a for loop to iterate through the max_temp and add the temperatures that are greater than 0 °F to a new list.

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Using list comprehension to create heat_layer

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Adjust Heatmap Zoom, Intensity, and Point Radius

First, add the geographic center of Earth in the form of latitude and longitude (30.0° N and 31.0° E). Also, add a zoom level so that only one map of Earth is shown.

In [9]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

If we scroll and zoom in on North America, we can see that the circles for the temperatures need to be modified so that they are larger and show temperature gradient differences.

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Humidity Heatmap

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Cloudiness Heatmap

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Wind Speed Heatmap

In [13]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

Next, filter the maximum temperature column in the city_data_df DataFrame using logical operators to create a new DataFrame with the cities that meet the customer’s criteria.

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= 75) & \
                         (city_data_df["Max Temp"] <= 90)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Atuona,PF,2020-05-23 14:02:46,-9.80,-139.03,80.28,78,49,17.16
5,5,Ravar,IR,2020-05-23 14:02:47,31.27,56.81,89.94,9,0,12.82
8,8,Labuan,MY,2020-05-23 14:02:47,5.28,115.24,82.40,94,75,1.12
9,9,Butaritari,KI,2020-05-23 13:58:33,3.07,172.79,82.89,76,100,11.30
19,19,Ailigandi,PA,2020-05-23 14:02:49,9.23,-78.02,85.28,69,88,1.86
...,...,...,...,...,...,...,...,...,...,...
561,561,Urucurituba,BR,2020-05-23 14:04:23,-2.68,-57.67,83.34,91,70,4.41
564,564,Acapulco,MX,2020-05-23 14:02:01,16.86,-99.89,77.00,88,75,4.70
565,565,Frontera,MX,2020-05-23 14:04:23,26.93,-101.45,86.00,64,20,4.70
572,572,Torit,SS,2020-05-23 14:04:24,4.41,32.57,86.97,54,95,1.99
573,573,Sibu,MY,2020-05-23 14:04:24,2.30,111.82,84.20,89,40,1.19

determine if the preferred_cities_df DataFrame has any null values for any of the rows.

In [16]:
preferred_cities_df.count()

City_ID       195
City          195
Country       192
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

In [17]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       3
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [18]:
preferred_cities_df.notnull().sum()

City_ID       195
City          195
Country       192
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

Drop rows that contain null values

In [19]:
city_data_df.dropna(inplace=True)

In [20]:
preferred_cities_df.count()

City_ID       195
City          195
Country       192
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

# 6.5.4 Map Vacation Criteria

Get Travel Destinations

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

            City Country  Max Temp    Lat     Lng Hotel Name
4         Atuona      PF     80.28  -9.80 -139.03
5          Ravar      IR     89.94  31.27   56.81
8         Labuan      MY     82.40   5.28  115.24
9     Butaritari      KI     82.89   3.07  172.79
19     Ailigandi      PA     85.28   9.23  -78.02
..           ...     ...       ...    ...     ...        ...
561  Urucurituba      BR     83.34  -2.68  -57.67
564     Acapulco      MX     77.00  16.86  -99.89
565     Frontera      MX     86.00  26.93 -101.45
572        Torit      SS     86.97   4.41   32.57
573         Sibu      MY     84.20   2.30  111.82

[195 rows x 6 columns]

Retrieve Hotels from a Nearby Search

In [22]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

Practice Using a Fixed Latitude and Longitude

In [23]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [24]:
len(hotels["results"])

20

In [25]:
hotels

{'html_attributions': [],
 'next_page_token': 'CqQCHAEAAADjisfChYyoihlmf4imYYO4FS9rVcNH5d62HvLj24hnLlWDjRRzjQveQx7YC3kZ-43792PqP-E6JWticfs9FHHi4Cqj4Lqr5FUT0cVJIvGkY-vh74wjk95wKwieURLxDXsU1sKmsugNOKaXNT7YDndjUlJfGvoKYpvfG6stTjDtO6L2Qp-ud6X9QE9P_sItrPRDzSVdoKQA_kRfF5IMLtfUPlkINyqgGVx63Q3ShTtg0HWx5Kf01ngyldYkYIoXgiGfJ1RmIixTx6847LzIWn9wNQWLC0c_3KnPSaLdOSFfh2DSVYkosu54OQYEgei1sV6q7GsCDDfrk1peizTT1tbu_tv1mzIZARiaTrunNNfadK5YtsQpRrJvKSgqkOEEDhIQ9j8N5h2_X9BjNLvm-3pL9hoUIHXQDtWBQcqUcSUW5I3nbMzC_w8',
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8581126, 'lng': 2.3529277},
    'viewport': {'northeast': {'lat': 48.8594393802915,
      'lng': 2.354352980291502},
     'southwest': {'lat': 48.8567414197085, 'lng': 2.351655019708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '7fa47cb61d7345cecc3b802d0e04fcff2b3d5ecb',
   'name': 'Hôtel Duo',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3840,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107554201425443337224">Hôtel Duo</a>'],
     'photo_reference': 'CmRaAAAACMoPZUw15d1AkbHbkUXy2mTzZamdaRm9CWk5c8AFD-doMzycV7x6qREcV-yxL09rizUn3mIpY9UM5J0y2CCCEt4bHiQ7H1dmdTNkrCUSkmmqEcrMQz-fHNz6pKQ3_F9WEhBhFac4UpVMbKSl9AJ8BSbtGhQifE7Xsgmc0MPHhU97qlSdSIQ-aQ',
     'width': 5760}],
   'place_id': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'plus_code': {'compound_code': 'V953+65 Paris, France',
    'global_code': '8FW4V953+65'},
   'rating': 4.2,
   'reference': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'scope': 'GOOGLE',
   'types': ['night_club',
    'spa',
    'lodging',
    'bar',
    'gym',
    'health',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 268,
   'vicinity': '11 Rue du Temple, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8582861, 'lng': 2.3464944},
    'viewport': {'northeast': {'lat': 48.8595495802915,
      'lng': 2.347780980291502},
     'southwest': {'lat': 48.8568516197085, 'lng': 2.345083019708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '4d2e3fa9d12bf9feb685e628eaa4da9b180956a9',
   'name': 'Hôtel Britannique - Paris Louvre',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1426,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108984000175492464929">Hôtel Britannique - Paris Louvre</a>'],
     'photo_reference': 'CmRaAAAAUrHj3mzQ6t1Y6IpfOU_I-f5bxhs9cLqvzE48Bkh3eVZLKqpn1v3xjhjZdxyAe77tzIaaeC23tBEuf_oD5pp4Q_G0XQJRMpevPF6ctiddeq244qB8L3sXXc_EdnorcCbnEhBEYJrTDt2cos1xnL3-DXRLGhRfrv0fpmaI5UYucfHXdQvhoVp6lg',
     'width': 1476}],
   'place_id': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'plus_code': {'compound_code': 'V85W+8H Paris, France',
    'global_code': '8FW4V85W+8H'},
   'rating': 4.6,
   'reference': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 246,
   'vicinity': '20 Avenue Victoria, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8606655, 'lng': 2.3469293},
    'viewport': {'northeast': {'lat': 48.8617681302915,
      'lng': 2.348040180291502},
     'southwest': {'lat': 48.8590701697085, 'lng': 2.345342219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '9f68a76d7e95a1f94ca131a0511bfe5ffa306818',
   'name': 'Citadines Les Halles Paris (Apart Hotel Paris)',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 496,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102565262508115704337">Citadines Les Halles Paris (Apart Hotel Paris)</a>'],
     'photo_reference': 'CmRaAAAAo5A6XeB1xAh_PmGAMowqRLyMfX_toUxWT6fH0ItX_v7SKzz_pzg0hLy1ZRtq80wKyiOZmGjaTukap-m6EMCvmorZxQkOki9bUg7HP8LJEOX_QfOBGMm8uNQxf0GQ1yQOEhDRP5JF-BozBPQA6OjjQp02GhRRGeNJjnrMOlLeHYnHknYpiT-M3g',
     'width': 745}],
   'place_id': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'plus_code': {'compound_code': 'V86W+7Q Paris, France',
    'global_code': '8FW4V86W+7Q'},
   'rating': 4.1,
   'reference': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 789,
   'vicinity': '4 Rue des Innocents, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8607658, 'lng': 2.3465318},
    'viewport': {'northeast': {'lat': 48.8620011802915,
      'lng': 2.347699630291502},
     'southwest': {'lat': 48.8593032197085, 'lng': 2.345001669708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'd0fde78ef5688caa69780be22af2ec83d4adfd32',
   'name': 'Novotel Paris Les Halles',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111815616573299411056">Novotel Paris Les Halles</a>'],
     'photo_reference': 'CmRaAAAAwYDPhMfBsqccwbE_tqCLJX3NX2ln2tTsbA7bSS9ODAoViU0Jbos98Ebl_wafq5jE7SdRzT2qKpl6PIeEP7bYsr35fWiynjx4ICsR8fkTj4qUFWSJ8he_b1jDe0xtpRRWEhC2CJwhXca3UFLqy51ToRtpGhSPKjk96U71msTNOGaF6fq8dv77OQ',
     'width': 3000}],
   'place_id': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'plus_code': {'compound_code': 'V86W+8J Paris, France',
    'global_code': '8FW4V86W+8J'},
   'rating': 4.4,
   'reference': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2010,
   'vicinity': '8 Place Marguerite de Navarre, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86034799999999, 'lng': 2.344054},
    'viewport': {'northeast': {'lat': 48.8616503302915,
      'lng': 2.345521080291502},
     'southwest': {'lat': 48.8589523697085, 'lng': 2.342823119708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '071875f44126b9c8284f24b598fdfce0ef2b15a8',
   'name': 'Hôtel Ducs de Bourgogne',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1842,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101411638353598558320">Best Western Premier Ducs de Bourgogne</a>'],
     'photo_reference': 'CmRaAAAAFS6D7dvK-u7ygpqD0mFf2Tu77ad4xrfsPHAeImH8SI7wH9kg7Vuq1g_luVy08uP5yOe7PnR-LqOr3fzgt6sI7dV2mS8DrVF6_IQIZ5ptKTtC9rk3TRLrhQT2NaNNtxRdEhBioR5c_Yyd368ygcrK5rdQGhSoE5pi8CEtpgLNCiWLMDgRvJXUfA',
     'width': 2880}],
   'place_id': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'plus_code': {'compound_code': 'V86V+4J Paris, France',
    'global_code': '8FW4V86V+4J'},
   'rating': 4.5,
   'reference': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 264,
   'vicinity': '19 Rue du Pont Neuf, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8555091, 'lng': 2.3408736},
    'viewport': {'northeast': {'lat': 48.8569042302915,
      'lng': 2.342317580291502},
     'southwest': {'lat': 48.8542062697085, 'lng': 2.339619619708499}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'da46237a58939495edf652bdf976bd44df477f05',
   'name': 'Citadines Saint-Germain-des-Prés Paris',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116649065792056265685">Gilsun LEE</a>'],
     'photo_reference': 'CmRaAAAAs5806_BNXmYox8gxDKtDL3cluT9m6xe60SSp7HtYO6fy0Lku0pYEa6IT7FXaJ1dSvz5cFVPU-IxR9zJAPU5ZpPF-6iaXC39P-Yx7PWjr1J4_0QXfgI4cd6D9Sq5mNjAXEhBF6JcNtERlojQOo3Qn7QwxGhQTa6en4Rp2FOQftAWWPKt1ec1j8g',
     'width': 4032}],
   'place_id': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'plus_code': {'compound_code': 'V84R+68 Paris, France',
    'global_code': '8FW4V84R+68'},
   'rating': 4.3,
   'reference': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 639,
   'vicinity': '53 ter Quai des Grands Augustins, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86634659999999, 'lng': 2.36064},
    'viewport': {'northeast': {'lat': 48.8677623302915,
      'lng': 2.361952180291502},
     'southwest': {'lat': 48.86506436970851, 'lng': 2.359254219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '87ab2d184ee12f6be846d60470ed800629c99521',
   'name': 'Paris France Hôtel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2673,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102332962500946068613">Paris France Hôtel</a>'],
     'photo_reference': 'CmRaAAAAert3yxcsYlK7ARRBiAJzJjKKueH1KP3XTcoJ70v7Q8G4nFQMEECXSpe9bz6pWc-hDxsUVh2mZB_DBx9ljrLjXTVOJgKQj3pDg8NxF9zf8wGYC4_kgpPZ6Qlnu_zaYFCPEhDi2kNlS9uzbHF9yktZZoKSGhSUgfZ8XoK5bdsBoT-0K-tQmTgbow',
     'width': 3463}],
   'place_id': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'plus_code': {'compound_code': 'V986+G7 Paris, France',
    'global_code': '8FW4V986+G7'},
   'rating': 4.3,
   'reference': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 367,
   'vicinity': '72 Rue de Turbigo, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8549629, 'lng': 2.3331998},
    'viewport': {'northeast': {'lat': 48.8563231802915,
      'lng': 2.334450380291502},
     'southwest': {'lat': 48.8536252197085, 'lng': 2.331752419708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'd466793620469a720b439cf769a6f4c28217ef88',
   'name': 'Hôtel Bel Ami',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4377,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111426311500153571368">Hôtel Bel Ami</a>'],
     'photo_reference': 'CmRaAAAAbFj2nyxOh-QA2I1y-6JZsuF9tmRlDhqz5koJMKr2uD9NuBtqdcoCO9vSQAMEwAQ0wtjReBnyrRDcmZ7CY2zRjxyoxcPkx0hfBUfwp-16ycYyCvbRCETtUy-sAs3yO8wbEhCfuE86n-dh0Ra1YNL0xEGoGhQAWZQXT68QUHLKV8dhCEo-2f55JQ',
     'width': 6566}],
   'place_id': 'ChIJj0jPiddx5kcRnYv-p3-vfCA',
   'plus_code': {'compound_code': 'V83M+X7 Paris, France',
    'global_code': '8FW4V83M+X7'},
   'rating': 4.6,
   'reference': 'ChIJj0jPiddx5kcRnYv-p3-vfCA',
   'scope': 'GOOGLE',
   'types': ['spa',
    'lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 448,
   'vicinity': '7 Rue Saint-Benoît, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86386539999999, 'lng': 2.3325488},
    'viewport': {'northeast': {'lat': 48.8650759802915,
      'lng': 2.333775730291502},
     'southwest': {'lat': 48.8623780197085, 'lng': 2.331077769708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '20dd8ae8d6ad9bbbe4ea9c6caf623fa071be187f',
   'name': 'Hotel Regina Louvre',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2828,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109066439891801774697">Hôtel Regina Louvre</a>'],
     'photo_reference': 'CmRaAAAAoB34WpfHIaKFKCiYQws4uCDaGuy-qPFbyLui-0KISSF2YzzxR084hjLtL93NZjBA8SrYYW_WY27klK4iBrjb3k4TZFrstavtcPE19zDYzbnazuPtYZsoB29OpDaDlTjAEhBLvqygVqhtEd0bxYHQc67xGhT2pqB72pC4qQxdn4VY5mq9Ppd5IQ',
     'width': 4242}],
   'place_id': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'plus_code': {'compound_code': 'V87M+G2 Paris, France',
    'global_code': '8FW4V87M+G2'},
   'rating': 4.5,
   'reference': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 494,
   'vicinity': '2 Place des Pyramides, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8475464, 'lng': 2.3718722},
    'viewport': {'northeast': {'lat': 48.8488880302915,
      'lng': 2.373119680291502},
     'southwest': {'lat': 48.8461900697085, 'lng': 2.370421719708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'dd8abb1bc4b1337fc3bd3f26e92d36c9a31de2fd',
   'name': 'Hôtel De France Gare de Lyon Bastille',
   'photos': [{'height': 787,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117462031751048846575">Hôtel De France Gare de Lyon Bastille</a>'],
     'photo_reference': 'CmRaAAAABpsCtO6uMGF7uRohenNxi6r3nLHcLl7MBug-egfJoaPriYifnh2IDIVABJQGUAIV97StdkopIhArolY2Ja2qp3N9glzqiXZQsQXWQAG_OWwV8IATJNh4vrIpcyg7-sAqEhBJCm9dQ7DjYO_hDwPm0pkhGhRmrY3juUbTHbaGnDO4kVVwIsQFjQ',
     'width': 1181}],
   'place_id': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'plus_code': {'compound_code': 'R9XC+2P Paris, France',
    'global_code': '8FW4R9XC+2P'},
   'rating': 3.3,
   'reference': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 375,
   'vicinity': '12 Rue de Lyon, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8717386, 'lng': 2.3447052},
    'viewport': {'northeast': {'lat': 48.8731394302915,
      'lng': 2.346067130291502},
     'southwest': {'lat': 48.8704414697085, 'lng': 2.343369169708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '78d0f620a6cdf990371302f25505f3916839f53a',
   'name': 'Hôtel Corona Opéra',
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105311226083684825186">福山慎一</a>'],
     'photo_reference': 'CmRaAAAA_iB5kFyPiyE64lLHE5uDIRtbPrDLsg_tpSsr0FPjfwCqJ60j-LBIr-_bsGIoJyXTThflnVHgF8dfQ4jhdrOyLLKPqalz23EZiLT35w8pKALqpQPYCn1kxqvVeJr3LedbEhCVQyWdESgbQo7YKY4Y-aaLGhQcnyjD39txTqwWlgnhfLQladE5UA',
     'width': 4032}],
   'place_id': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'plus_code': {'compound_code': 'V8CV+MV Paris, France',
    'global_code': '8FW4V8CV+MV'},
   'rating': 4,
   'reference': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 303,
   'vicinity': '8 Cité Bergère, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8423474, 'lng': 2.3632229},
    'viewport': {'northeast': {'lat': 48.8436522302915,
      'lng': 2.364706330291502},
     'southwest': {'lat': 48.8409542697085, 'lng': 2.362008369708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'c2c8e3f55bda0fd2bec95cd85db83c756bfebe2c',
   'name': 'Hôtel Libertel Austerlitz Jardin des Plantes',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 683,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113748802076686483057">Hôtel Libertel Austerlitz Jardin des Plantes</a>'],
     'photo_reference': 'CmRaAAAAA_4vgX9ozZZCEa_uL8VnegybsgoSWVMsYYIt-JMkvEdqrNbfZlXKi28XHlFvLBA-iTXtPxiO5OjYCEBJoqWPHMsf_VjKFf9JSo5H5L8z-vwbOL1NAp5RAIZKvyDXCZ2iEhA0iqpffp-ubA-ZJnU0aWAfGhT8Dg5FZVc4IRrFEp0_-MGNF4eCWw',
     'width': 1024}],
   'place_id': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'plus_code': {'compound_code': 'R9R7+W7 Paris, France',
    'global_code': '8FW4R9R7+W7'},
   'rating': 3.9,
   'reference': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 416,
   'vicinity': "12 Boulevard de l'Hôpital, Paris"},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.864294, 'lng': 2.3307997},
    'viewport': {'northeast': {'lat': 48.8655772302915,
      'lng': 2.332153880291502},
     'southwest': {'lat': 48.8628792697085, 'lng': 2.329455919708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '50797fba20cc1e735c57820607b18b04abf162b9',
   'name': 'Saint James Albany Paris Hôtel Spa',
   'photos': [{'height': 650,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108570400659068256718">Saint James Albany Paris Hôtel Spa</a>'],
     'photo_reference': 'CmRaAAAAPavsla9sGeWgGvDBxX0fDjUbF9UU4g0ZflN2sVsIbSBaM9dt31WQs5L9wxg8bzeete-7NVKBev8CNIix7eaaRSx2gQX-Pmz2zdZofW_4dmPMnrRQj0B1q6Erd-6hKgYqEhD7XKyVq9To2ZeJaUpj0L1IGhQMk15wQkFVqA2_EHTB893jhcANAA',
     'width': 802}],
   'place_id': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'plus_code': {'compound_code': 'V87J+P8 Paris, France',
    'global_code': '8FW4V87J+P8'},
   'rating': 4,
   'reference': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'scope': 'GOOGLE',
   'types': ['spa',
    'lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 1070,
   'vicinity': '202 Rue de Rivoli, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.87110329999999, 'lng': 2.3389728},
    'viewport': {'northeast': {'lat': 48.87241758029149,
      'lng': 2.340357630291502},
     'southwest': {'lat': 48.8697196197085, 'lng': 2.337659669708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'ef15575a5c2adf57431313a0af490a78350630a5',
   'name': 'Hôtel Icône',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1066,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108137830440312077288">Hôtel Icône</a>'],
     'photo_reference': 'CmRaAAAAehl3Mj2pERM8To2i9hqqN067fvVYIfhFww5RKU3FVud0R8uEsdwlDpaCHfk7g3mbkX1W_mVUNDE7e57ssETtJssi4aF-rGso4vSmbeYgpy_KOhAIHkq-ClXHArJN5jQHEhCbHEe_B7M3u_0gLZu7HMYvGhQ9QCcnqk88mBwJhJat3c77mpFz6g',
     'width': 1600}],
   'place_id': 'ChIJpQvq5Dtu5kcR0COam2f7v_I',
   'plus_code': {'compound_code': 'V8CQ+CH Paris, France',
    'global_code': '8FW4V8CQ+CH'},
   'rating': 3.7,
   'reference': 'ChIJpQvq5Dtu5kcR0COam2f7v_I',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 134,
   'vicinity': "4 Rue d'Amboise, Paris"},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86038899999999, 'lng': 2.323112},
    'viewport': {'northeast': {'lat': 48.8617804302915,
      'lng': 2.324489280291502},
     'southwest': {'lat': 48.8590824697085, 'lng': 2.321791319708499}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '7f368d30dd657e11d235029a91f97fb176c9bc9a',
   'name': "Hôtel 4 étoiles d'Orsay Paris 7ème - Esprit de France",
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3840,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115556676131195822021">Hôtel 4 étoiles d&#39;Orsay Paris 7ème - Esprit de France</a>'],
     'photo_reference': 'CmRaAAAAngTT130YOuhAEKLEOVqP_4qG2TplMOjrqzalGOkk8-jbTCWq1Eh1_M6wZdoX_KNNZTKFBpPAD0NRpLW8z85aCnZnmjBXlhLEoJVHkGS8j1hGZeUr8a8pccuIu9yexqZ1EhD-wmVT6lfM3hOxVGHb_iARGhTlcElGy-smEniOW16FO-vNQ7rX6g',
     'width': 5760}],
   'place_id': 'ChIJu39_OCtu5kcRWVQ7SFa0J-k',
   'plus_code': {'compound_code': 'V86F+56 Paris, France',
    'global_code': '8FW4V86F+56'},
   'rating': 4.6,
   'reference': 'ChIJu39_OCtu5kcRWVQ7SFa0J-k',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 207,
   'vicinity': '93 Rue de Lille, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8661363, 'lng': 2.3260648},
    'viewport': {'northeast': {'lat': 48.8674534302915,
      'lng': 2.327513280291502},
     'southwest': {'lat': 48.8647554697085, 'lng': 2.324815319708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '3706e8da44cbce856612cc5e666bd4e25076a0d8',
   'name': 'Hôtel Mayfair Paris',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1365,

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("No hotels found... skipping.")

No hotels found... skipping.
No hotels found... skipping.
No hotels found... skipping.
No hotels found... skipping.
No hotels found... skipping.
No hotels found... skipping.
No hotels found... skipping.
No hotels found... skipping.
No hotels found... skipping.
No hotels found... skipping.
No hotels found... skipping.
No hotels found... skipping.
No hotels found... skipping.
No hotels found... skipping.
No hotels found... skipping.

In [27]:
hotel_df

            City Country  Max Temp    Lat     Lng                 Hotel Name
4         Atuona      PF     80.28  -9.80 -139.03                Villa Enata
5          Ravar      IR     89.94  31.27   56.81                computertik
8         Labuan      MY     82.40   5.28  115.24         Tiara Labuan Hotel
9     Butaritari      KI     82.89   3.07  172.79         Isles Sunset Lodge
19     Ailigandi      PA     85.28   9.23  -78.02            akwa reef lodge
..           ...     ...       ...    ...     ...                        ...
561  Urucurituba      BR     83.34  -2.68  -57.67
564     Acapulco      MX     77.00  16.86  -99.89  HS Hotsson Smart Acapulco
565     Frontera      MX     86.00  26.93 -101.45        Fiesta Inn Monclova
572        Torit      SS     86.97   4.41   32.57       Diplomat Guest House
573         Sibu      MY     84.20   2.30  111.82          RH HOTEL (4 Star)

[195 rows x 6 columns]

## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))